# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store


*.zip
*.rar
*.7z

node_modules
.DS_Store
dist
dist-ssr
*.local

.yarn/*
.idea
desktop.ini

logs.txt
logo.svg

*.log

main.js
main.js.map

data.json
.env

scripts
package.json
.release-it.cjs
pnpm-lock.yaml

.claude
.codex
