/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.outliner-editor .markdown-source-view.mod-cm6 .cm-newline-button {
	color: var(--color-base-50);
	display: flex;
	justify-content: flex-start;
}

.outliner-editor .markdown-source-view.mod-cm6 .cm-newline-button div {
	border-radius: 100%;
	padding: var(--size-2-2) var(--size-2-2);
	height: 24px;
	width: 24px;

	--icon-size: 16px;
	margin-left: 2px;
	--icon-stroke: 1px;
}

.outliner-editor .markdown-source-view.mod-cm6 .cm-content {
	padding-left: var(--size-4-4);
}


.outliner-editor .cm-placeholder:before {
	content: attr(data-ph);
	color: var(--memos-text-faint);
	position: absolute;
}
